body
{
	font-family: 'Indie Flower' !important;
}
  .carousel-inner img {
      /*-webkit-filter: grayscale(90%);*/
      /*filter: grayscale(90%);  make all photos black and white  */
      width: 100%; /* Set width to 100% */
      margin: auto;
      height: 200px;
  }
  .carousel-caption h3 {
      color: #fff !important;
  }
#edutech
{
	color: white;
	text-align: left;
	padding-bottom: 200px;
}
.jumbotron{
	background: url(background.jpg);
	background-position: center;
	background-size: contain;
}
nav{
  color: white;
  background-color: blue;
}
ul{
	padding:10px;
	background: rgba(0,0,0,0.5);
	text-align: center;
}
li{
	display: inline-block;
	padding: 0px 10px 0px 10px
}
a{
	color: white !important;
}
a:hover {
	color: blue !important;
}
article {
	color: rgb(25, 51, 76);
	background color: #19334C;
	padding: 10px;
	line-height: 28px;
	text-align: center;
	bottom: 0;
	margin: 0;
}
#intro
{
	text-align: center;
}
#social-buttons
{
	color: white;
	background: #3fcab4;
	text-align: center;
}
#emailNewsletter
{
	padding: 0 0 0 5px;
	margin-left: 10px;
	margin-bottom: 5px;
}
#send
{
	margin-bottom: 10px
}
.map-responsive{
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}
.map-responsive iframe{
	left: 0;
	top: 0;
	height:100%;
	width: 100%;
	position: absolute;
}
